In [1]:
# data cleaning and plots
import pandas as pd
import numpy as np

# Load data
initial_data = pd.read_csv('../../datasets/liver/indian_liver_patient.csv')

In [2]:
# initial_data = initial_data.sort_values('Gender')
df_male = initial_data[initial_data['Gender'] == 'Male']
df_female = initial_data[initial_data['Gender'] == 'Female']

df_male.to_csv('../../datasets/liver/indian_liver_patient_male.csv', index=False)
df_female.to_csv('../../datasets/liver/indian_liver_patient_female.csv', index=False)

In [3]:
df_male

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,2
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,2
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,2
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,2
5,46,Male,1.8,0.7,208,19,14,7.6,4.4,1.30,2
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,1
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,2
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,2
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,2
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,1

In [4]:
df_female

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,2
6,26,Female,0.9,0.2,154,16,12,7.0,3.5,1.00,2
7,29,Female,0.9,0.3,202,14,11,6.7,3.6,1.10,2
13,74,Female,1.1,0.4,214,22,30,8.1,4.1,1.00,2
18,40,Female,0.9,0.3,293,232,245,6.8,3.1,0.80,2
...,...,...,...,...,...,...,...,...,...,...,...
547,50,Female,27.7,10.8,380,39,348,7.1,2.3,0.40,2
549,40,Female,2.1,1.0,768,74,141,7.8,4.9,1.60,2
564,38,Female,0.6,0.1,165,22,34,5.9,2.9,0.90,1
566,50,Female,1.0,0.3,191,22,31,7.8,4.0,1.00,1
568,20,Female,16.7,8.4,200,91,101,6.9,3.5,1.02,2

In [7]:
initial_data = df_male
initial_data.shape

(441, 11)

In [8]:
initial_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 1 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         441 non-null    int64
 1   Gender                      441 non-null    object
 2   Total_Bilirubin             441 non-null    float64
 3   Direct_Bilirubin            441 non-null    float64
 4   Alkaline_Phosphotase        441 non-null    int64
 5   Alamine_Aminotransferase    441 non-null    int64
 6   Aspartate_Aminotransferase  441 non-null    int64
 7   Total_Protiens              441 non-null    float64
 8   Albumin                     441 non-null    float64
 9   Albumin_and_Globulin_Ratio  439 non-null    float64
 10  Dataset                     441 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 41.3+ KB